        .colorful-text {
            animation: colorChange 1s linear infinite;
        }

        @keyframes colorChange {
            0% {
                color: red;
            }
            25% {
                color: blue;
            }
            50% {
                color: green;
            }
            75% {
                color: orange;
            }
            100% {
                color: purple;
            }
        }
        
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .marquee {
            position: fixed;
            top: 10px;
            left: 10px;
            right: 10px;
            animation: marquee 15s linear infinite;
        }

        @keyframes marquee {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }